body {
  background-color: #EAEBC0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.login-container {
  min-height: 100vh;
}

.login-card {
  width: 1100px; /* Tarjeta grande, imagen intacta */
  border-radius: 20px;
  overflow: hidden;
}

/* Imagen lateral (60%) */
.login-image-side img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  transition: transform 0.4s ease;
}

.login-image-side img:hover {
  transform: scale(1.05);
}

/* Lado del formulario formal */
.login-form-side {
  background-color: #ffffff;
  border-radius: 0 20px 20px 0;
  box-shadow: inset 0 0 10px rgba(0,0,0,0.05);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.login-form-side h3 {
  font-weight: 600;
  color: #333;
}

/* Inputs */
.form-control {
  border-radius: 8px;
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 0.95rem;
  color: #333;
}

.form-label {
  font-weight: 500;
  color: #444;
}

/* Botón más formal */
.btn-primary {
  background-color: #5a4d41;
  border: none;
  font-weight: 500;
  transition: 0.3s;
}

.btn-primary:hover {
  background-color: #473930;
}

/* Ajustes responsive */
@media (max-width: 1024px) {
  .login-card {
    width: 90%;
  }

  .login-image-side {
    display: none;
  }
}


.is-invalid {
  border-color: #dc3545 !important;
}
